
@{
    ViewBag.Title = "VALIDAÇÃO DE CARTÃO DE CREDITO";
}

<h2>Validação de Cartão de Credito By Gustavo Ovelar</h2>
Teste de desafio na criação de algoritmo de validação de Cartão de Credito.<br />

@Html.ActionLink("Entrar para Validar Cartão.", "EnvioCartao");

